  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;600;800&display=swap");
  @import url("./src/fonts/Noto_Sans/NotoSans-Medium.ttf");
  @font-face {
    font-family: NotoSans-Medium;
    src: url(/src/fonts/Noto_Sans/NotoSans-Medium.ttf);
  }
  @font-face {
    font-family: NotoSans-Regular;
    src: url(/src/fonts/Noto_Sans/NotoSans-Regular.ttf);
  }
  @font-face {
    font-family: NotoSans-Light;
    src: url(/src/fonts/Noto_Sans/NotoSans-Light.ttf);
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebe8e8;
  overflow: hidden;
  height: 100vh;
  /* font-family: "IBM Plex Sans Arabic", sans-serif; */
  color: #494747;
}
.header {
  background-color: #f5c5bc;
  height: 5rem;
  position: relative;
  width: 100%;
  top: 0;
  box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 0 0 0 5%;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .2rem;
  font-family: NotoSans-Medium;
}
.header img{
  width: 50px;
  height: 50px;
}
.app {
  height: 100vh;
}
.app__container,
.row {
  height: inherit;
}
.close,
.open{
  position: absolute;
  cursor: pointer;
  transition: yyyy22;
}
.open{
  opacity: 1;
}
.close{
  display: none;
}
.shope__name{
  margin-left: 3rem;
}
.row {
  display: grid;
  grid-template-columns: 0.7fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "nav-column body-column";
  margin-top: 0.2rem;
}
.nav__column {
  font-family: NotoSans-Light;
  padding: 0.8rem;
  grid-area: nav-column;
  height: 100vh;
  font-size: 1.15rem;
  background-color: #fff;
}
.body__column {
  /* margin-left: 0.4rem; */
  grid-area: body-column;
  overflow: scroll;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: flex-start;
  background-color: #f8f5f5;
}
.body__column::-webkit-scrollbar {
  width: 5px;
}

.body__column::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
}

.body__column::-webkit-scrollbar-thumb {
  background-color: rgb(204, 201, 201);
  outline: 1px solid rgb(224, 227, 230);
}
.section__title {
  text-align: left;
  margin: 1rem 0.3rem 0rem 0.3rem;
  font-size: 1.4rem;
  padding: 1rem 0.8rem;
  font-family: NotoSans-Light;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.category__filter {
  height: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.products {
  grid-area: body-column;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 500px;
  flex: 0 1 400px;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 1.2px 1.2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card:hover {
  animation: animate-box 3s forwards -2s;
}
.product__details{
  position: relative;
  padding: 1rem 1.3rem;
  flex-basis: 50%;
  font-family: NotoSans-Medium;

}
h4{
  font-size: 1.4rem;
  color: #f5c5bc;

}
.price{
  color: #494747;
  position: absolute;
  right: 0;
  padding-right: 1.3rem;
}
.add__cart{
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 500;
  margin-left: 1.3rem;
  margin-bottom: 1.3rem;
  height: 3rem;
  width: 7rem;
  border-radius: .7rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #c3e7ee;
}
.card img{
  width: 100%;
  flex-basis: 50%;
}
.conainer-fluid {
  height: inherit;
}
.btn {
  width: 90%;
  height: 50px;
  margin: 0.7rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.06);
}
.btn-primary {
  transition: all 1s;
  background-color: #e7d1cc;
}
.btn-primary:hover{
  background-color: #e7d1cc;
}

@keyframes animate-box {
  0% {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  }
  10% {
    box-shadow: 0px 0px 10px 2.2px rgba(0, 0, 0, 0.15);
  }
  20% {
    box-shadow: 0px 0px 10px 2.4px rgba(0, 0, 0, 0.15);
  }
  30% {
    box-shadow: 0px 0px 10px 2.6px rgba(0, 0, 0, 0.15);
  }
  40% {
    box-shadow: 0px 0px 10px 2.8px rgba(0, 0, 0, 0.15);
  }
  50% {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
  }
  60% {
    box-shadow: 0px 0px 10px 3.2px rgba(0, 0, 0, 0.15);
  }
  70% {
    box-shadow: 0px 0px 10px 3.4px rgba(0, 0, 0, 0.15);
  }
  80% {
    box-shadow: 0px 0px 10px 3.6px rgba(0, 0, 0, 0.15);
  }
  90% {
    box-shadow: 0px 0px 10px 3.8px rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  }
}

@keyframes button-ripple{

}
@media screen and (max-width: 800px) {
  .row {
    grid-template-columns: 1fr;
  }
  .nav__column{
    display: none;
    transform: translateX(-300px);
    transition: .5s;
  }
  .nav__column.active{
    transform: translateX(20px);
  }
  .card{
    width: 300px;
    height: 400px;
  }
}
